@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
*{
    font-family: 'Open Sans', sans-serif;
}
#E{
    color: white;
}
.barra{
    border: 0px;
    position: fixed;
    top: 47px;
    left: 7pc;
    height: 0;
    display: inline-block;
    background: transparent;
    width: 100%;
}
.bar{
    position: absolute;
    top: 13px;
    left: 63px;
    border-radius: solid 2px white;
}
.dos{
    position: relative;
    left: 29pc;
}
.bar-principal{
    left: 13pc; 
    top: 9px;
    position: relative;
}
.bar-principal a{
    font-size: 12px;
}
.barra .nav-wrapper{
    background: #30323f;
    position: fixed;
    width: 100%;

    height: 65px;
} 
.barra .nav-wrapper .brand-logo{
    margin-left: 4pc;
}
.barra .nav-wrapper a{
    color: #6b758c;
}
.barra .nav-wrapper ul{
    margin-right: 35pc;
}
.barra .nav-wrapper a span{
    color: white;
}